.logo{
    display: flex;
    text-decoration: none;
    border: 3px solid black;
    padding:50px;
    font-size: 30px;
    
    justify-content: center;
    
}
.txt{
    color: blue;
}
.bar{
    display: flex;
    margin-top: 10px;
    justify-content: start;
    padding: 15px;
    border: 3px solid red;
}
.ico{
    border: 3px solid green;
    margin-right: 20px;
}