.container{
    width: 100%;
    background-color: #0f3057;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.divide{
    border:none;
}
.new1{    
    margin: 8px;
    display: flex;
    flex: 2;
    order:2; 
    text-align: center;
}
.op:hover{
    opacity: 0.5;
}
a{
    text-decoration: none;
    color: cadetblue;
}
h1,h2{
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
.paragraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
}
.p2{
    padding-top: 30px;
}
.new2{
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    order:1;
    justify-content: space-between;
    text-align: center;
}
.bord{
    padding-top: 10px;
    margin: 5px;
}
.sec{
    margin: 5px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.new3{
    border: none;
    margin: 5px;
    display: flex;
    flex: 2;
    order:2; 
    text-align: center;
}
.pic{
    width: 480px;
    padding: 5px;
}
.publicity{
    width: 100%;
    display: inline-block;
}
.not1{
    width: 100%;
    text-align: center;
    background-color: rgb(18,18,18);
}
.not2{
    width: 100%;
    text-align: center;
    background-color: rgb(202,0,0);
}
.not3{
    width: 100%;
    text-align: center;
    background-color: rgb(255,255,255);
}
@media screen and (min-width: 1024px){
    .container{
        width: 100%;
        flex-direction: row;
    }
    .divide{
        border-right: 1px groove seashell;
    }
}
