.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    background-color: #0f3057;
}
.conten{
    display: flex;
}
.titl{
    width: 70%;
    margin-left: 120px;
    margin-top: 2px;
    padding-top: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}
.pic{
    width: 80%;
    margin-left: 90px;
    margin-top: 5px;
}
.paragraph{
    width: 80%;
    margin-left: 100px;
    text-align: center;
    margin-top: 2px;
    padding-bottom: 5px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}
.little{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid darkolivegreen;
}
.publicity{
    width: 100%;
    display: inline-block;
}
.not1{
    width: 100%;
    text-align: center;
    background-color: rgb(18,18,18);
}
.not2{
    width: 100%;
    text-align: center;
    background-color: rgb(202,0,0);
}
.not3{
    width: 100%;
    text-align: center;
    background-color: rgb(255,255,255);
}
