.titles{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}
body{
    background-color:  darkslategray;
}
.column{
    width: 100%;
    display: flex;
    flex-direction: column
}
.formulary-label{
    display: block;
    font-weight: 600;
    cursor:pointer;
    margin-bottom: 10px;
    margin-top: 5px;
}
input{
    width: 100%;
    align-items: center;
    background-color: #fff;
    height: 45px;
    line-height: 45px;
}
.formulary-group-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulary-btn{
    display: block;
    height: 45px;
    line-height: 45px;
    width: 30%;
    margin-top: 20px;
    background-color: black;
    color: blanchedalmond;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}
.formulary-btn:hover{
    background-color: blanchedalmond;
    color: #000;
}
#name-error, #email-error, #password-error, #age-error, #phone-error, #adress-error, #city-error, #postcode-error, #dni-erro, #repassword-error{
    display: none;
    font-size: 15px;
    font-weight: 600;
    color: red;
    text-shadow: 2px 1px black;
}
/* RESPONSIVE*/
@media screen and (min-width: 768px){
    .formulary{
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: auto;
        width: 90%;
          
    }
    .columnfile{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .column{
        margin: 10px 50px;
    }
    .formulary-group-btn{
        text-align: center;
        margin-bottom: 20px;
    }

}